[submodule "src/core"]
	path = src/core
	url = git@github.com:x-tag/core.git
[submodule "src/accordion"]
	path = src/accordion
	url = git@github.com:x-tag/accordion.git
[submodule "src/view"]
	path = src/view
	url = git@github.com:x-tag/view.git
[submodule "src/pseudo-queue"]
	path = src/pseudo-queue
	url = git@github.com:x-tag/pseudo-queue.git
[submodule "src/flipbox"]
	path = src/flipbox
	url = git@github.com:x-tag/flipbox.git
[submodule "src/appbar"]
	path = src/appbar
	url = git@github.com:x-tag/appbar.git
[submodule "src/map"]
	path = src/map
	url = git@github.com:x-tag/map.git
[submodule "src/input"]
	path = src/input
	url = git@github.com:x-tag/input.git
[submodule "src/spinner"]
	path = src/spinner
	url = git@github.com:x-tag/spinner.git
[submodule "src/toggle"]
	path = src/toggle
	url = git@github.com:x-tag/toggle.git
[submodule "src/switch"]
	path = src/switch
	url = git@github.com:x-tag/switch.git
[submodule "src/shiftbox"]
	path = src/shiftbox
	url = git@github.com:x-tag/shiftbox.git
[submodule "src/mediaquery"]
	path = src/mediaquery
	url = git@github.com:x-tag/mediaquery.git
[submodule "src/template"]
	path = src/template
	url = git@github.com:x-tag/template.git
[submodule "src/autosuggest"]
	path = src/autosuggest
	url = git@github.com:x-tag/autosuggest.git
[submodule "src/modal"]
	path = src/modal
	url = git@github.com:x-tag/modal.git
[submodule "src/slidebox"]
	path = src/slidebox
	url = git@github.com:x-tag/slidebox.git
[submodule "src/dragbox"]
	path = src/dragbox
	url = git@github.com:x-tag/dragbox.git
[submodule "src/scroll-list"]
	path = src/scroll-list
	url = git@github.com:x-tag/scroll-list.git
[submodule "src/code-prism"]
	path = src/code-prism
	url = git@github.com:x-tag/code-prism.git
[submodule "src/panel"]
	path = src/panel
	url = git@github.com:x-tag/panel.git
