body {
	font: 14px/1.7 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, Sans-Serif;
	background: url(../images/spatter.jpg);
}

h1, h2, h3, h4, dt {
	position: relative;
	font-family: Georgia, Cambria, "Times New Roman", Times, Serif;
	font-weight: normal;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 165%;
}

h3 {
	position: absolute;
	left: 0;
	display: inline;
	padding: 8px 9px 4px 9px;
	font-size: 135%;
	color: #fff;
	text-decoration: none;
	background: url("../images/header-bk.png");
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #226AB3;
	border-bottom: 1px solid #003474;
	box-shadow: 0px 1px 3px -2px #000;
	-ms-box-shadow: 0px 1px 3px -2px #000;
	-moz-box-shadow: 0px 1px 3px -2px #000;
	-webkit-box-shadow: 0px 1px 3px -2px #000;
	letter-spacing: 1px;
	text-shadow: 1px 1px #333;
}

h3, #tag_line, #logo {
	font-family: "Josefin Sans", "Trebuchet MS", Helvetica, Arial, Sans-Serif;
	text-transform: uppercase;
}

p {
	margin: 0 0 10px;
}

a {
	color: #3366bb;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:hover {
	border-bottom: none;
}

code {
	font: 13px/1.7 Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
	padding: 2px 4px;
	border: 1px solid;
	border-color: #dfdfdf #dadada #d0d0d0;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

pre {
	margin: 0 -15px;
}

pre code {
	padding: 10px 20px;
	background: #fafafa;
	border: 1px solid #eee;
}

p code {
	position: relative;
	top: -1px;
	margin: 0 2px;
	background: linear-gradient(top, #fafafa, #efefef);
	background: -ms-linear-gradient(top, #fafafa, #efefef);
	background: -moz-linear-gradient(top, #fafafa, #efefef);
	background: -webkit-linear-gradient(top, #fafafa, #efefef);
}

h4 {
	margin: 14px 0 10px;
}

h4 code {
	background: url("../images/header-bk.png") left -10px;
	border: 1px solid #335c8f;
	border-radius: 5px;
	color: #fff;
	font-size: 90%;
}

h4 span {
	padding-left: 6px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, Sans-Serif;
	color: #999;
	text-transform: lowercase;
}

header.container {
	margin-bottom: 20px;
	padding-top: 10px;
}

body > header > iframe, body > header > a {
	float: right;
	margin-top: 13px;
}

.anchor-id {
	position: absolute;
	top: -75px;
	left: 0px;
}

.font {
	font-style: italic;
}

#logo {
	float: left;
	font-size: 170%;
	padding: 5px 0;
	color: #000;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff, 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#logo code {
	border: none;
	font-size: 80%;
}

#global_menu {
	overflow: hidden;
}

#global_menu ul {
	float: right;
}

#global_menu li {
	float: left;
	display: inline;
}

#global_menu a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	padding: 0 10px;
	border-bottom: 0;
	text-shadow: 1px 1px #eee;
}

#global_menu a:hover {
	color: #222;
	background-color: rgba(255, 255, 255, 0.1);
}

.twitter-share-button {
	margin: 16px 0 0 10px;
}

.container {
	width: 90%;
	min-width: 300px;
	max-width: 700px;
	margin: 0 auto;
	overflow: hidden;
}

.max-width {
	position: relative;
}

div.max-width > dl {
	margin-bottom: 40px;
	padding: 50px 25px 20px 25px;
	background: #fff;
	border: 1px solid;
	border-color: #bbb #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	clear: both;
}

div.max-width > dl dt {
	font-size: 120%;
	background-color: #e9e9e9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px 25px;
	text-shadow: 0 1px 0 #fff;
	margin: 0 -25px 8px -25px;
}

div.max-width > dl dd {
	margin: 0 10px 20px;
}

div.max-width > dl ol {
	margin: 0 15px 10px;
	padding: 6px 6px 6px 26px;
}

div.max-width > dl li {
	padding: 1px 0;
}

div.max-width > dl > dd:last-child p:last-child {
	margin-bottom: 0px;
}

#tag_line {
	position: relative;
	margin-bottom: 30px;
	color: #444;
	text-shadow: 0 1px 0 #fff, 0 -1px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
	letter-spacing: 1px;
}

#browser_logos {
	display: table;
	width: 100%;
	margin: 20px auto
}

#browser_logos a {
	display: table-cell;
	width: 20%;
	font-weight: bold;
	text-align: center;
	color: #466EA6;
	border: none;
}

#browser_logos a img {
	display: block;
	width: 75%;
	max-width: 61px;
	margin: 0 auto;
}

#browser_logos a span {
	display: block;
	font-size: 10px;
	color: #999;
}

#doc_list dd {
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px dotted #bbb;
}

#doc_list dd:last-child {
	border-bottom: none;
}
