
x-actionbar {
	width: 100%;
	display: box;
	display: -o-box;
	display: -ms-box;
	display: -moz-box;
	display: -webkit-box;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

x-actionbar  x-action[for] {
	display: none;
}

x-action {
	display: block;
	text-align: center;
	box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}

x-action img{
	display: block;
	height: auto;
	margin: 0 auto;
}

x-action label {
	text-align: center;
	font-size: 80%;
}

x-actionbar[data-action-style="icon"] > x-action img {
	
}

x-actionbar[data-action-style="icon"] > x-action label {
	display: none;
}

x-actionbar[data-action-style="text"] > x-action img {
	display: none;
}

x-actionbar[data-action-style="text"] > x-action label {
	font-size: 100%;
}

x-action[data-action-style="icon"] img {
	
}

x-action[data-action-style="icon"] label {
	display: none;
}

x-action[data-action-style="text"] img {
	display: none;
}

x-action[data-action-style="text"] label {
	font-size: 100%;
}


/*** MODAL STYLES ***/

x-modal[data-action-group-modal] {
	background: #fff;
	z-index: 1000;
}

x-modal[data-action-group-modal] x-action {
	display: table;
}

x-modal[data-action-group-modal] x-action img, x-modal[data-action-group-modal] x-action label {
	display: table-cell;
	vertical-align: middle;
}