
x-actionbar {
	display: inline-block;
}

x-action {
	display: inline-block;
}

x-action img{
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

x-action label {
	text-align: center;
	font-size: 80%;
}

x-action[data-action-style="icon"] img {
	
}

x-action[data-action-style="icon"] label {
	display: none;
}

x-action[data-action-style="text"] img {
	display: none;
}

x-action[data-action-style="text"] label {
	font-size: 100%;
}