
x-autosuggest {
	position: relative;
	display: box;
	display: -o-box;
	display: -ms-box;
	display: -moz-box;
	display: -webkit-box;
}

x-autosuggest > input[type="text"] {
	width: 100%;
	display: block;
	box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}

x-autosuggest > ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
}

x-autosuggest ul[data-show-suggestions="true"] {
	display: block;
}

x-autosuggest > ul > li:hover {
	text-decoration: underline;
}