x-overlay {
	content: " ";
	display: block;
	position: absolute;
	width: 9999px;
	height: 9999px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	z-index: 1;
	
    transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}