x-overlay {	
	display: block;
	position: fixed;
	top: 0;
	left: 0;	
	width: 100%;
	height: 200%;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	z-index: 1;

	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}