
/*** Animation Keyframes ***/


/*** Element Styles ***/

x-slidebox {
	display: box;
	display: -o-box;
	display: -ms-box;
	display: -moz-box;
	display: -webkit-box;
	position: relative;
	height: 100%;
	width: 100%;
	transition: transform 1s ease 0s;
	-o-transition: -o-transform 1s ease 0s;
	-ms-transition: -ms-transform 1s ease 0s;
	-moz-transition: -moz-transform 1s ease 0s;
	-webkit-transition: -webkit-transform 1s ease 0s;
}

x-slidebox > * {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	border: 2px solid black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
