
x-autocompleter {
	position: relative;
	display: box;
	display: -o-box;
	display: -ms-box;
	display: -moz-box;
	display: -webkit-box;
}

x-autocompleter > input {
	width: 100%;
	display: box;
	display: -o-box;
	display: -ms-box;
	display: -moz-box;
	display: -webkit-box;
	box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}

x-autocompleter > ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}